body {
    margin-top: 10px;
    background: linear-gradient(135deg, rgba(255,103,15,0.06) 0%,rgba(255,103,15,0.15) 100%), url("/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
  
  #card:hover {
    box-shadow: 0 14px 28px rgba(255, 116, 0,0.25), 0 10px 10px rgba(255, 116, 0,0.22);
  }

#image {
    height:13em; 
    width:13em; 
    margin-left:10em; 
    border-radius: 50%; 
    margin-top:20px;
    cursor: zoom-in;
}


#image:hover {
    box-shadow: 0 0 10px #fff;
}

button {
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Caption of Modal Image */
.figure-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
